// rules_version = '2';
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leer servicios a cualquiera (para mostrar precios en la Home)
    match /servicios/{id} {
      allow read: if true;
      // Bloquear escritura desde el cliente (la haremos desde el Admin más adelante)
      allow write: if false;
    }

    // Bloquear todo lo demás por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
